<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="A really cool site!">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css2/style.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>
    <section class="container text-center mt-5">
        <div class='m-2'>
            <h1>Welcome to the Great Number Game!</h1>
            <p>I am thinking of a number between 1 and 100</p>
            <p>Take a guess!</p>
        </div>
        <div class=" {{ session['box'] }}" >
            <div class=" {{ session['color'] }} justify-content-center">
                <div class="displayText ">
                    {{ session['text'] }}
                </div>
            </div>
        </div>
        <form action="/{{ session['action'] }}" method='post'>
            <input class='input-md mb-2' type="text" name='number'>
            <div>
                <button type="submit" class="btn btn-dark mt-1">{{ session['button'] }}</button>
            </div>
        </form>

    </section>
</body>

</html>